<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link sizes="16x16" href="../../icon/biggericon.png" rel="icon" type="image/x-icon">
        <link href="/css/tittlebar.css" rel="stylesheet">
        <link href="/css/ResetPassword.css" rel="stylesheet">
        <script src ="/js/onlyerrorMessage.js"></script>
        <title>Quality</title>
    </head>
    <body>     
        <header>
            <div id="menu">
                <button id="close">X</button>
                <button id="max">=</button>
                <button id="mini">-</button>
            </div>
        </header>
        <div class="wrapper">
            <h2>Reset Password</h2>
            <form method="post" action="/forgot/resetpassword" id="resetpassword" >
                <input id="newPassword" type="password" name="NewPassword" placeholder="Password" required oninvalid="this.setCustomValidity('enter your password')" oninput="this.setCustomValidity('')">
                <input id="Password" type="password" name="ReEnterPassword" placeholder="re-enter password" required oninvalid="this.setCustomValidity('re-enter your password')" oninput="this.setCustomValidity('')">
                <input id="submitButton" type="submit" value="ResetPassword" required>
                <% if (errorMessage) { %>
                    <p id="errorMessage"><%= errorMessage %></p>
                <% } %>             
            </form>
            <a href="/signin">Sign In</a>
        </div>
    </body>
</html>