<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
        <link sizes="16x16" href="/img/biggericon.png" rel="icon" type="image/x-icon">
        <link href="/css/signin.css" rel="stylesheet">
        <link href="/css/tittlebar.css" rel="stylesheet">
        <script src="/js/renderer.js"></script>  
        <script src ="/js/errorMessagewithsuccessMessage.js"></script>
        <title>Quality</title>
    </head>
    <body>   
        <header>
            <div id="menu">
                <button id="close">X</button>
                <button id="max">=</button>
                <button id="mini">-</button>
            </div>
        </header>
        <div class="wrapper">
            <h2>Sign In</h2>
            <form method="post" action="/signin" id="signin">
                <input id="idInput" type="text" name="id" placeholder="ID" required oninvalid="this.setCustomValidity('Input your ID')" oninput="this.setCustomValidity('')">
                <input id="passwordInput" type="password" name="userPassword" placeholder="Password" required oninvalid="this.setCustomValidity('Input your Password')" oninput="this.setCustomValidity('')">
                <input id="submitButton" type="submit" value="Sign In" required>
                <% if (errorMessage) { %>
                    <p id="errorMessage"><%= errorMessage %></p>
                <% } else if (successMessage) { %>
                    <p id="successMessage"><%= successMessage %></p>
                <% } %>
            </form>
            <div>Forgot your <a href="/forgot">Password?</a> | <a href="/signup">Sign Up</a></div>
        </div>
    </body>
</html>