body{
    margin: 0;
    padding: 0;
    background: #444444;
    overflow: hidden;
}

#list{
    background: #444444;
    height: 100vh;
    width: 95vw;
    margin-left: 5rem;
    overflow-y: scroll;
}

#list::-webkit-scrollbar{
    width: 10px;
}

#list::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 5px;
}

#list::-webkit-scrollbar-thumb{
    height: 10%;
    background: #383838;
    border-radius: 30px;
}
#wifispeed{
    width: 95%;
    height: 43%;
    background: #383838;
    position: relative;
    top: 1%;
    left: 3%;
    border-radius: 20px;
}

#wifispeed #wifispeedid{
    float: left;
    top: 5%;
    position: relative;
}

#list #wifispeed #wifispeedid #wifispeedbutton{
    position: relative;
    background:transparent;
    border: none;
    top: 50%;
    left: 2%;
}

#wifispeedcheck{
    border-radius: 20px;
}
