body{
    margin: 0;
    padding: 0;
    background: #444444;
    overflow: hidden;
}

#list{
    background: #444444;
    height: 97vh;
    width: 95vw;
    margin-left: 5rem;
    overflow-y: scroll;
}

#list::-webkit-scrollbar{
    width: 0;
}

#list::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 5px;
}

#list::-webkit-scrollbar-thumb{
    height: 10%;
    background: #383838;
    border-radius: 30px;
}
