body{
    margin: 0;
    padding: 0;
    background: #444444;
    overflow: hidden;
}

#devinfo{
    margin-left: 4rem;
    width: 95vw;
    overflow: hidden;
    height: 97vh;
}

#dev{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    flex-direction: column;
    margin-top: 20%;
}

#dev #margin{
    text-align: center;
    margin-bottom: 20px;
}

#dev #margin #Quema{
    color: white;
    transition: .3s;
}

#dev #margin #nooby{
    color: white;
    transition: .3s;
}

#dev #margin #Quema:hover{
    color: #444444;
    animation: github .5s;
}

#dev #margin #nooby:hover{
    color: #444444;
}

#dev #margin #Quema:hover:not(){
    animation: github .5s;
}

#dev #margin #nooby:hover{
    animation: github .5s;
}

#github{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

#github #githublink{
    display: flex;
    align-items: center;
}

#githublinkimg{
    width: 35px;
    height: 35px;
}
