<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link sizes="16x16" href="./icon/icon.png" rel="icon" type="image/x-icon">
        <link rel="stylesheet" href="./css/forgot.css">        
        <link href="../tittlebar/tittlebar.css" rel="stylesheet">
        <script src ="./js/forgot.js"></script>
        <title>Quality</title>
    </head>
    <body>     
        <header>
            <div id="menu">
                <button id="close">X</button>
                <button id="max">=</button>
                <button id="mini">-</button>
            </div>
        </header>
        <div class="wrapper">
            <h2>Forgot</h2>
            <form method="post" action="/forgot" id="forgot" >
                <input id="idInput" type="text" name="id" placeholder="ID" required oninvalid="this.setCustomValidity('Input your ID')" oninput="this.setCustomValidity('')">
                <input id="submitButton" type="submit" value="Forgot" required>
                <% if (errorMessage) { %>
                    <p id="errorMessage"><%= errorMessage %></p>
                <% } %> 
            </form>
            <a href="/signin">Sign In</a>
        </div>
    </body>
</html>