<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
        <link sizes="16x16" href="./icon/icon.png" rel="icon" type="image/x-icon">
        <link href="./css/main.css" rel="stylesheet">
        <script src="./js/renderer.js"></script>  
        <script src ="./js/main.js"></script>
        <title>Quality</title>
    </head>
    <body>   
        <div class="wrapper">
            <h2>Sign In</h2>
            <form method="post" action="/signin" id="signin">
                <input id="idInput" type="text" name="id" placeholder="ID" required>
                <input id="passwordInput" type="password" name="userPassword" placeholder="Password" required>
                <input id="submitButton" type="submit" value="Sign In" required>
                <% if (errorMessage) { %>
                    <p id="errorMessage"><%= errorMessage %></p>
                <% } %> 
            </form>
            <a href="/signup">Sign Up</a>
        </div>
    </body>
</html>